In [48]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import nbformat
import plotly
import plotly.express as px

Question 1: Use yfinance to Extract Stock Data

In [50]:
tesla = yf.Ticker("TSLA")
tesla_data = tesla.history(period="max")
tesla_data.reset_index(inplace=True)
tesla_data.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

Question 2: Use Webscraping to Extract Tesla Revenue Data

In [51]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"

html_data = requests.get(url).text
soup = BeautifulSoup(html_data, 'html.parser')

tables = pd.read_html(url)
tesla_revenue = pd.DataFrame(tables[1])
tesla_revenue.columns = ['Date', 'Revenue']
tesla_revenue['Revenue'] = tesla_revenue['Revenue'].str.replace(',', '').str.replace('$', '')
tesla_revenue['Revenue'] = pd.to_numeric(tesla_revenue['Revenue'], errors='coerce')
tesla_revenue.tail(5)

          Date  Revenue
49  2010-06-30     28.0
50  2010-03-31     21.0
51  2009-12-31      NaN
52  2009-09-30     46.0
53  2009-06-30     27.0

Question 3: Use yfinance to Extract Stock Data

In [52]:
gme = yf.Ticker("GME")
gme_data = gme.history(period="max")
gme_data.reset_index(inplace=True)
gme_data.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658001,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662209,1.603295,1.662209,6892800,0.0,0.0

Question 4: Use Webscraping to Extract GME Revenue Data

In [53]:
url_2 = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"

html_data_2 = requests.get(url_2).text
soup_2 = BeautifulSoup(html_data_2, 'html.parser')

tables_2 = pd.read_html(url_2)
gme_revenue = pd.DataFrame(tables_2[1])
gme_revenue.columns = ['Date', 'Revenue']
gme_revenue['Revenue'] = gme_revenue['Revenue'].str.replace(',', '').str.replace('$', '')
gme_revenue['Revenue'] = pd.to_numeric(gme_revenue['Revenue'], errors='coerce')
gme_revenue.tail(5)

          Date  Revenue
57  2006-01-31     1667
58  2005-10-31      534
59  2005-07-31      416
60  2005-04-30      475
61  2005-01-31      709

Question 5: Plot Tesla Stock Graph

In [ ]:
tesla_revenue = tesla_revenue[tesla_revenue['Date'] <= '2021-06-30']

def make_graph(data, revenue, title):
    fig = go.Figure()
    fig.add_trace(go.Scatter(
        x=revenue['Date'], 
        y=revenue['Revenue'], 
        mode='lines',
        name=title
    ))
    fig.update_layout(
        title=f"{title} Revenue",
        xaxis_title="Date",
        yaxis_title="Revenue",
        xaxis=dict(type='category'),
    )
    fig.show()

make_graph(None, tesla_revenue, 'Tesla')

Question 6: Plot GameStop Stock Graph

In [ ]:
gme_revenue = gme_revenue[gme_revenue['Date'] <= '2021-06-30']

def make_graph(data, revenue, title):
    fig = go.Figure()
    
    fig.add_trace(go.Scatter(
        x=revenue['Date'], 
        y=revenue['Revenue'], 
        mode='lines',
        name=title
    ))
    
    fig.update_layout(
        title=f"{title} Revenue Over Time",
        xaxis_title="Date",
        yaxis_title="Revenue",
        xaxis=dict(type='category'),
    )
    
    fig.show()

make_graph(None, gme_revenue, 'GameStop')